.cards {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 40px;
}

.card {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;

    gap: 20px;

    width: 20%;
}

.buttons {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.links {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}