.projects {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 20px;
}

.projects h1 {
    font-weight: 600;
    font-size: 48px;
    line-height: 48px;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.card {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;

    gap: 20px;

    width: 30;
}

.buttons {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.buttons div {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 4px;
    width: 60px;
    height: 28px;
    padding: 6px 18px 7px;

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%
}

.links {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links span {
    text-decoration: underline;

    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
}