.profileAndAboutMe {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 30px;
}

.profileAndAboutMe h1 {
    font-weight: 600;
    font-size: 48px;
    line-height: 48px;
}

.profile {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
}

.profileDetails {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 20px;
}

.items {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 10px;
}

.item {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
}

.item span {
    width: 125px;
}

.aboutMe {
    width: 50%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 30px;
}