.profile {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 50px;
}

.profileDetails {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.items {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 10px;
}

.item {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
}

.item span {
    width: 125px;
}

.aboutMe {

}